@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Source+Code+Pro:wght@700&display=swap');

*{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 0px;
  border: 0px;
}

/* col-area */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  background: var(--darkBlue);
}
:root {
  --blue: #1f2937;
  --darkBlue: #040c0e;
  --green: #10b981;
}

.header {
  display: flex;
  width: 800px;
}

.hero-header .hero {
  float: left;
  padding: 150px;
  color: var(--green);
  font-weight: 800;
  font-size: 110px;
  padding-bottom:0px ;
  margin-bottom: 20px;
}
button{
    border: 0px;
    background: var(--blue);
    border-radius: 6px;
    color: var(--green);
    padding: 20px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    float: left;
    margin-left: 150px;
    margin-bottom: 50px;
}
button a{
  text-decoration: none;
  color: var(--green);
}
/* button .btn-a:hover{
  color: white;
} */
button:hover{
    background: var(--green);
    color: var(--blue);
    transition: .5s;
    box-shadow: .5 --green;
}

img {
  margin-top: 75px;
  margin-left: 250px;
  height: 700px;
  width: 700px;
}

.content{
    color: white;
    font-size: 25px;
    display: block;
    font-weight: 700;
    margin-left: 150px;
    margin-bottom: 50px;
}

.instagram{
    text-decoration: none;
    color: white;
    font-size: 30px;
    float:right;
    margin-top: 40px;
    margin-right: 40px;
}

.instagram:hover{
  color: var(--green);
  transition: .6s;
}
.content a{
  text-decoration: none;
  color: var(--green);
}

/* 
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .instagram{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
  }
  .header-img{
    display: block;
  }
}

@media only screen and (max-width: 1280px) {
  /* For mobile phones: */
  /* .bi-instagram{  
    float: right;
    margin-top: 40px;
    margin-right: 40px;
  }
  .header-img{
    max-width: 100%;
    margin-top: 100px;
  }
}  */ 